@import './reset.css';

:root {
  --container-padding-x: 20px;
  --container-wrap-size: 1440px;

  --pri: #00c471;
}

.inner {
  width: 100%;
  max-width: calc(var(--container-wrap-size));
  padding: 0 var(--container-padding-x);
  margin: 0 auto;
}

#container {
  margin-bottom: 60px;
}

@font-face {
  font-family: Pretendard;
  font-weight: 300;
  src: url('../assets/fonts/Pretendard-Regular.woff2') format('woff2'),
    url('../assets/fonts/Pretendard-Regular.woff') format('woff'),
    url('../assets/fonts/Pretendard-Regular.ttf') format('ttf');
}

@font-face {
  font-family: Pretendard;
  font-weight: 500;
  src: url('../assets/fonts/Pretendard-Medium.woff2') format('woff2'),
    url('../assets/fonts/Pretendard-Medium.woff') format('woff'),
    url('../assets/fonts/Pretendard-Medium.ttf') format('ttf');
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  src: url('../assets/fonts/Pretendard-Bold.woff2') format('woff2'),
    url('../assets/fonts/Pretendard-Bold.woff') format('woff'),
    url('../assets/fonts/Pretendard-Bold.ttf') format('ttf');
}

*,
*::before,
*::after {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
  'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
  'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  sans-serif;
}

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
}

input , select , textarea {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
  'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
  'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  sans-serif;
}

/* Background */
.bg-pri {background-color: var(--pri);}
.bg-transparent {background-color: transparent;}

/* Form */
input , select {
  height: 36px;
  border: 1px solid #CCC;
  background-color: white;
  border-radius: 8px;
  font-size: 16px;
  padding: 0 12px;
  width: 100%;
}

/* Btn */
button {border: 0;}
      
[class*=btn-] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  border-radius: 8px;
}

[class*=btn-]:not(.bg-transparent, .bg-white) {color: #fff;}

.btn-md {
  height: 36px;
}

/* Language change */
.lang-change {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: #666;
}